<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HeatSurvie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Nos produits</a>
      </li>
        <li class="nav-item">
          <a class="nav-link " href="https://secondpoteaupavard.fr/">Stage de survie</a>
        </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Nous contacter</a>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="/transaction">Liste des transactions</a>
      <a class="nav-link" href="/credential">Options du site</a>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
