<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('./partials/head') %>
</head>

<body>
    <%- include("./partials/menu") %>
    <div class="container-fluid bg-3 text-center">
      <% if (locals.state) { %>
        <div class="alert alert-success" role="alert">
          Votre panier à été envoyé.
        </div>
       <% } %>
      <h3><%= page %></h3><br>
      <ul>
      </ul>
      <div class="row">
      <div class="col-4"></div>
      <form method="POST" class="col-4">
        <h5>Credential sur la plateforme PayPlus</h5>
        <div class="form-row">
          
          <div class="col">
            <input name="client_token" type="text" class="form-control" placeholder="client_token">
          </div>
          <div class="col">
            <input name="client_secret" name="adress" type="text" class="form-control" placeholder="client_secret">
          </div>
          </div><hr>
        <button type="submit" class="btn btn-primary">Valider mes credentials</button>
      </form>
    </div>
    <hr>
    <% if (locals.credencial) { %>
    <% for(key in credencial) { %>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">client_token</button>
        </div>
        <input type="text" class="form-control" placeholder="" value='<%= credencial[key]["client_token"] %>' aria-label="" disabled aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">client_secret</button>
        </div>
        <input type="text" class="form-control" placeholder="" disabled value="<%= credencial[key]["client_secret"] %>" aria-label="" aria-describedby="basic-addon1">
      </div>
      <% }%>
      <% } %>
    </div>
    
  </body>
<%- include('./partials/script') %>